In [1]:
import numpy as np
import pandas as pd
import os

from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.drop('Id',axis=1,inplace=True)

In [4]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
x=df.drop('Species',axis=1)
y=df['Species']

In [6]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=45)

In [7]:
model=LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [8]:
y_pred=model.predict(x_test)

In [9]:
accuracy_score(y_test,y_pred)

0.9666666666666667

In [10]:
clf_report=classification_report(y_test,y_pred)
print(clf_report)

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        11
Iris-versicolor       0.88      1.00      0.93         7
 Iris-virginica       1.00      0.92      0.96        12

       accuracy                           0.97        30
      macro avg       0.96      0.97      0.96        30
   weighted avg       0.97      0.97      0.97        30

## testing on single row

In [11]:
x.head(1).T

                 0
SepalLengthCm  5.1
SepalWidthCm   3.5
PetalLengthCm  1.4
PetalWidthCm   0.2

In [12]:
column_names=x.columns
column_names

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'], dtype='object')

In [13]:
test_array=np.zeros(len(x.columns))
test_array

array([0., 0., 0., 0.])

In [14]:
sepallengthCm=6.7
sepalwidthCm=3.5
petallengthCm=5.3
petalwidthCm=3

In [15]:
test_array[0]=sepallengthCm
test_array[1]=sepalwidthCm
test_array[2]=petallengthCm
test_array[3]=petalwidthCm

In [16]:
test_array

array([6.7, 3.5, 5.3, 3. ])

In [17]:
model.predict([test_array])

array(['Iris-virginica'], dtype=object)

In [18]:
project_data={'columns':list(x.columns)}

In [19]:
import pickle
with open('logistic_model.pkl','wb') as f:
    pickle.dump(model,f)

In [20]:
import json
with open('json_data.json','w') as f:
    json.dump(project_data,f)